<!DOCTYPE html>
<html>
    <!-- build <%= BUILD_HASH %> (#<%= BUILD_COUNT %>) @ <%= BUILD_TIME %> -->
    <head>
        <meta charset="UTF-8" />
        <title>TADs &middot; AED2</title>
    </head>
    <body>
        <div class="header">
            <div class="title">🛠️ TADs &middot; AED2</div>
            <a class="repo" href="https://github.com/franciscod/tads" target="_blank">
                <span id="repo-hash">
                    v<%= BUILD_COUNT %> (<span class="moment" datetime="<%= BUILD_TIME %>"></span>)
                </span>
                <div class="gh"></div>
            </a>
        </div>
        <div class="tabs"></div>
        <div id="editor"></div>
        <div class="modal-container" style="display: none">
            <div class="modal">
                <span class="close" title="Cerrar">&times;</span>
                <div class="modal-content"></div>
            </div>
        </div>
    </body>
</html>
